*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

.upper-block{
    display: flex;
}


/*! pink box */

.side-navbar{
    height: 80vh;
    width: 10%;
    background-color: magenta;
}

.padding-top-big{
    padding-top: 2em;
}

.padding-bottom-big{
    padding-bottom: 2em;
}

.padding-top-small{
    padding-top: .5em;
}


.padding-left-small{
    padding-left: 1em;
}

.padding-right-small{
    padding-right: 1em;
}


ul{
    list-style-type: none;
    color: white;
}

.box{
    height: 80vh;
    width: calc( 100% - 80px);
    background-color: black;
}

.upper-button{
    display: flex;
    justify-content: end;
    padding: 1rem 0 ;
}

.white{
    border-radius: 2rem;
}
/* ? Blue box */

.main-box{
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 100%;
    background-color: deepskyblue;
}

.inner-box{
    width: calc( 100% / 6 - 10px);
    height: 200px;
    background-color: blue;
}

/*
.logos{
    display: flex;
}
*/
footer{
    width: 100%;
    height: 20%;
    background-color: orange;
}

/** spotify md */

@media screen and (max-width:768px) {

    .main-box{
        background-color: #9792e4;
    }

    .wrap-box{
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:576px){
    .main-box{
        background-color: yellow;
    }
}
