*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

header{
    text-align: right;
    background-color: #080b12;
    height: 60px;
}

main{
    height: calc(100vh - 140px);
    background-color: lightgray;
    display: flex;
    
}

nav{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
    overflow-y: scroll;
}

section{
    height: 100%;
    width: calc(100% - 200px);
    background-color: #141922;
    overflow-y: auto;
}

h1{
    color: white;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

h3{
    color: white;
    margin-top: .5rem;
}

h4{
    color: white;
    margin: .5rem;
}

p{
    color:  #6f6f6f;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    background-color: #282828;
}

button{
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 2rem;
    color: white;
    background-color:#080b12;
    padding: .5rem 2rem;
}

ul{
    list-style-type: none;
    color: white;
    margin-top: 20px;
    margin-left: 50px;
}

hr{
    color: #d2d2d2;
    font-size: .5rem;
}

.title{

}

.margin-right{
    margin-right: .5rem;
}

.margin-right-big{
    margin-right: 1.5rem;
}

.margin-top{
    margin-top: .5rem;
}

.margin-top-big{
    margin-top: 2rem;
}

.margin-bottom-big{
    margin-bottom: 2rem;
}

.padding-right{
    margin-right: 2rem;
}

.padding-bottom-big{
    padding-bottom: 2rem;
}


.nav-container{
    display: flex;
    justify-content: center;
}

.inner-navbar{
    display: flex;
    flex-direction: row;
}

.color-home{
    color: #d2d2d2;
}

.color-nav{
    color:  #6f6f6f;
}

.jhon-doe{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profile-section{
    display: flex;
    flex-direction: column;
    align-items: end ;
    margin-top: 10rem;
    margin-left: 2rem;
}

.main-container{
    margin-left: 2rem;
}

.first-row-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.first-row-card{
    width: calc(100% / 6 - .5rem);
    height: 200px;
    background-color: white;
    margin-right: 1rem;
}

.second-row-container{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.first-row-card{
    width: 200px;
    height: 200px;
    background-color: white;
    margin-right: 1rem;
}

.second-row-card{
    width: 200px;
    height: 200px;
    background-color: white;
    margin-right: 1rem;
}

.third-row-container{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.third-row-card{
    width: 200px;
    height: 200px;
    background-color: white;
    margin-right: 1rem;
}

.footer-row{
    height: 100%;
    width: 300px;
}

.first-footer-square{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-left: 1em;
    background-color: 
}

.song{
    height: 100%;
    width: calc(100% / 3);
}

.band{
    padding: 25% 0;
    padding-left: .5rem ;
}

.white{
    color: white;
}

.fav-icons{
    padding: 35% 0;
    padding-left: .5rem ;
}

.second-footer-square{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: red;
}

.footer-column{
    width: calc(100% / 3);
    height: 100%;
    background-color: aqua;
    border:3px solid  magenta;
    margin: 0 5px;
    text-align: center;
}

.third-footer-square{
padding: 2em 0;
}

.device{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

