*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

.upper-block{
    display: flex;
}

.main-box{
    height: 80vh;
    width: calc( 100% - 80px);
    background-color: deepskyblue;
}

.side-navbar{
    height: 80vh;
    width: 10%;
    background-color: magenta;
}

.padding-top-big{
    padding-top: 2em;
}

.padding-top-small{
    padding-top: .5em;
}


.padding-left-small{
    padding-left: 1em;
}

ul{
    list-style-type: none;
    color: white;
}

/*
.logos{
    display: flex;
}
*/
footer{
    width: 100%;
    height: 20%;
    background-color: orange;
}