*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
}

.upper-block{
    display: flex;
}


/*! pink box */

.side-navbar{
    height: 80vh;
    width: 10%;
    background-color: black;
}

.padding-top-big{
    padding-top: 2em;
}

.padding-bottom-big{
    padding-bottom: 2em;
}

.padding-top-small{
    padding-top: .5em;
}
.padding-bottom-small{
    padding-top: .5em;
}


.padding-left-small{
    padding-left: 1em;
}

.padding-right-small{
    padding-right: 1em;
}


ul{
    list-style-type: none;
    color: white;
}

.box{
    height: 80vh;
    width: calc( 100% - 80px);
    background-color: black;
    overflow: scroll;
}

.upper-button{
    display: flex;
    justify-content: end;
    padding: 1rem 0 ;
}

.white{
    border-radius: 2rem;
}

.white-font{
    color: white;
}
/* ? Blue box */

.main-box{
    display: flex;

    height: 60%;
    width: 100%;
    background-color: deepskyblue;
}

.inner-box{
    width: calc( 100% / 6 - .5rem );
    height: 45%;
    background-color: blue;
    margin-right: .5rem;
}

.second-box{
    background-color: turquoise ;
    width: 100%;
}

.row-2{
    display: flex;
    background-color: aquamarine;
}

footer{
    width: 100%;
    height: 10%;
    background-color: orange;
}

/** spotify md */

@media screen and (max-width:768px) {

    .wrap-box{
        background-color: #9792e4;
        flex-wrap: wrap;
    }

    .inner-box{
        width: calc( 100% / 4 - .5rem);
        background-color: blue;
        color: white;
        font-size: 3rem;
    }    
}

/*! SMALL */

@media screen and (max-width:576px){
    .box{

    }
    .main-box{
        background-color: rgb(0, 255, 94);
        height: 88.5%;
        flex-wrap: wrap;
    }

    .inner-box{
        width: calc( 100% / 2 - .5rem);
        height: calc(100% / 3 - .3rem) ;
        margin-bottom: .3rem;
        background-color: rgb(255, 196, 0);
        color: white;
        font-size: 3rem;
    }
    
    .second-box{
        display: none;
    }

    .row-2{
        display: none;
    }
}
